<h2></h2>
<div class="parallax-container">

  <div class="parallax"><img src="<%=image_path("energypath-page.png")%>"> </img></div>
  <div><a href="https://utilityapi.com/authorize/hussein_maad_hotmail?email=aaa@bbb.com&redirect_uri=http://localhost:3000/users/2&utility=ACE" class="btn waves-effect waves-light">Request Report</a></div>
</div>
<!-- <div class="row">
  <div class="col m2">
    <p>User Image</p>
  </div>
  <div class="col m10">
    <div class="row">
      <div class="col m10">
        
      </div>
    </div>
  </div>
</div> -->
